<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title class="mb-30">Usuarios</mat-card-title>
    <mat-card-subtitle class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit.</mat-card-subtitle>
    <div class="spacer"></div>
    <button mat-stroked-button class="c-orange br-orange mr-15 btn"><mat-icon class="mr-15">remove_red_eye</mat-icon> Previsualizar</button>
    <button mat-flat-button class="c-white b-orange btn"><mat-icon>add</mat-icon> Agregar Nuevo Usuario</button>
  </mat-card-header>
</mat-card>

