
<app-header></app-header>
<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <nav>
      <ul class="menu">
        <li class="option" *ngFor="let option of menu">
          <span class="option-selected" *ngIf="option.selected"></span>
          <mat-icon [ngClass]="{'c-orange': option.selected}">{{ option.icon }}</mat-icon>{{ option.option }}
        </li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-drawer-content class="content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>