.card {
  width: 90%;
  margin: 30px auto;
}

table {
  width: 100%;
}

.icon-drag{
  cursor: move;
}

.col{
  width: 130px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.circulo {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.circulo img {
  width: 100%;
}

.row {
  cursor: pointer;
}

.row:hover {
  background: #f2f2f2;
}

.rowSelected {
  background: #f2f2f2;
}